.Capture-Page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Capture-Page button {
    margin: 1em 0.5em;
    text-transform: initial;
}

.Capture-Page img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
    display: block;
}

.Capture-Page video {
    width: 100%;
}
