.Describe-Page .user-image {
    max-width: 100%;
}

.card-result {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.image-source-icon {
    height: 14px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.product-thumbnail {
    max-width: 100%;
}

.visual-matches-container {
    columns: 2;
    column-gap: 2px;
}

.select-container button {
    text-transform: initial;
    margin-top: 1em;
}
